node_modules/
.nuxt/
dist/
.output/
.nitro/
.cache/
.env
.env.local
.env.*.local

# Firebase
firebase-debug.log

# NestJS
nestjs/dist/
nestjs/node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
